<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>SIAPP</title>
        <link rel="icon" type="image/x-icon" href="/images/user/Siapp.ico" />
      <link href="https://cdn.lineicons.com/5.0/lineicons.css" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" href="/stylesheets/style.css">
      <link rel="stylesheet" href="/stylesheets/form_acara.css">
      <link rel="stylesheet" href="/stylesheets/detail_acara.css">
  </head>

  <body>
    <%- include('partials/__nav_sidebar') %>
    <main class="content px-3 py-4">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="mb-3">
                    <a class="btn btn-secondary mb-3" href="/users/investasi">
                        <i class="lni lni-arrow-left"></i> Kembali
                    </a>
                    <h5><b>INFORMASI ACARA</b></h5>
                </div>
            
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="card flex-fill border-0">
                            <div class="card-body-header">
                                <p><strong>Nama Acara:</strong> <%= acara.nama_acara %></p>
                                <p><strong>Waktu Acara:</strong> <%= new Date(acara.waktu_acara).toLocaleString() %></p>
                                <p><strong>Acara Selesai:</strong> <%= new Date(acara.acara_selesai).toLocaleString() %></p>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-md-6">
                        <div class="card flex-fill border-0">
                            <div class="card-body-header">
                                <p><strong>Lokasi Acara: </strong><a class="lokasi-a" href="<%= acara.lokasi_acara %>"><%= acara.lokasi_acara %></a> </p>
                                <p><strong>Keterangan:</strong> <%= acara.keterangan %></p>
                                <p><strong>Informasi Kontak:</strong> <%= acara.informasi_kontak %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="card border-0 mt-4">
                <div class="card-header">
                    <h4 class="card-title">TABEL KONTRIBUSI UANG</h4>
                </div>
                <div class="card-body">
                    <div class="wrapper">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">NIK</th>
                                    <th scope="col">Nama Penyumbang</th>
                                    <th scope="col">Nomor WA</th>
                                    <th scope="col">Tanggal Sumbangan</th>
                                    <th scope="col">Tanggal Edit</th>
                                    <th scope="col">Jumlah Uang</th>
                                    <th scope="col">Foto Kontribusi Uang</th>
                                    <th scope="col">Status Validasi</th>
                                    <th scope="col">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% kontribusiUang.forEach((item, index) => { %>
                                    <tr>
                                        <td scope="row"><%= index + 1 %></td>
                                        <td><%= item.nik %></td>
                                        <td><%= item.nama_penyumbang %></td>
                                        <td><%= item.no_wa %></td>
                                        <td>
                                            <%= new Date(item.tanggal_sumbangan).toLocaleString('id-ID', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' }) %>
                                        </td>
                                        <td>
                                            <%= item.tanggal_edit_sumbangan ? new Date(item.tanggal_edit_sumbangan).toLocaleString('id-ID', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' }) : '-' %>
                                        </td>
                                        <td>
                                            <%= new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR', minimumFractionDigits: 0 }).format(item.jumlah_uang) %>
                                        </td>
                                        <td>
                                            <img src="/images/kontribusi_uang/<%= item.foto_kontribusi_uang %>" alt="Foto Kontribusi Uang" style="width: 100px; height: auto;">
                                        </td>
                                        <td><%= item.status_validasi %></td>
                                        <td>
                                            <div class="aksi">
                                                <% if (item.status_validasi === 'belum divalidasi') { %>
                                                    <form class="d-inline" method="post" action="/users/detail_investasi/validate">
                                                        <input type="hidden" name="id_kontribusi" value="<%= item.id_kontribusi %>">
                                                        <input type="hidden" name="jenis_kontribusi" value="uang">
                                                        <input type="hidden" name="acaraId" value="<%= acara.id_acara %>">
                                                        <button type="submit" class="btn btn-primary btn-sm">Yes</button>
                                                    </form>
                                                    <a class="btn btn-danger btn-sm btn-lapor" data-id="<%= item.id_kontribusi %>" data-acara="<%= acara.id_acara %>" data-type="uang">No</a>
                                                <% } %>
                                            </div>
                                        </td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            
            <div class="card border-0 mt-4">
                <div class="card-header">
                    <h4 class="card-title">TABEL KONTRIBUSI BARANG</h4>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">NIK</th>
                                <th scope="col">Nama Penyumbang</th>
                                <th scope="col">Nomor WA</th>
                                <th scope="col">Tanggal Sumbangan</th>
                                <th scope="col">Tanggal Edit</th>
                                <th scope="col">Nama Barang</th>
                                <th scope="col">Jumlah Barang</th>
                                <th scope="col">Foto Kontribusi Barang</th>
                                <th scope="col">Status Validasi</th>
                                <th scope="col">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% kontribusiBarang.forEach((item, index) => { %>
                                <tr>
                                    <td scope="row"><%= index + 1 %></td>
                                    <td><%= item.nik %></td>
                                    <td><%= item.nama_penyumbang %></td>
                                    <td><%= item.no_wa %></td>
                                    <td>
                                        <%= new Date(item.tanggal_sumbangan).toLocaleString('id-ID', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' }) %>
                                    </td>
                                    <td>
                                        <%= item.tanggal_edit_sumbangan ? new Date(item.tanggal_edit_sumbangan).toLocaleString('id-ID', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' }) : '-' %>
                                    </td>
                                    <td><%= item.nama_barang %></td>
                                    <td><%= item.jumlah_barang %></td>
                                    <td>
                                        <img src="/images/kontribusi_barang/<%= item.foto_kontribusi_barang %>" alt="Foto Kontribusi Barang" style="width: 100px; height: auto;">
                                    </td>
                                    <td><%= item.status_validasi %></td>
                                    <td>
                                        <div class="aksi">
                                            <% if (item.status_validasi === 'belum divalidasi') { %>
                                                <form class="d-inline" method="post" action="/users/detail_investasi/validate">
                                                    <input type="hidden" name="id_kontribusi" value="<%= item.id_kontribusi %>">
                                                    <input type="hidden" name="jenis_kontribusi" value="barang">
                                                    <input type="hidden" name="acaraId" value="<%= acara.id_acara %>">
                                                    <button type="submit" class="btn btn-primary btn-sm">Yes</button>
                                                </form>
                                                <a class="btn btn-danger btn-sm btn-lapor" data-id="<%= item.id_kontribusi %>" data-acara="<%= acara.id_acara %>" data-type="barang">No</a>
                                            <% } %>
                                        </div>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
            
            
            <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="reportModalLabel">Laporan Kontribusi</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="reportForm" method="post" action="/users/detail_investasi/lapor">
                            <div class="modal-body">
                                <input type="hidden" name="id_kontribusi" id="reportIdKontribusi">
                                <input type="hidden" name="acaraId" id="reportAcaraId">
                                <input type="hidden" name="jenis_kontribusi" id="reportJenisKontribusi">
                                <div class="mb-3">
                                    <label for="laporan" class="form-label">Laporan</label>
                                    <textarea class="form-control" id="laporan" name="laporan" rows="4" required></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Kirim Laporan</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </main>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qV/U5NpHxxC/DHhr23LZEMVZLIL0A5hr3WCE3N8l6M0DBZWwBfJ4pvMboZe1QssM" crossorigin="anonymous"></script>
      <script src="/js/script.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
      <script>
document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('.btn-lapor').forEach(button => {
        button.addEventListener('click', () => {
            const id_kontribusi = button.getAttribute('data-id');
            const acaraId = button.getAttribute('data-acara');
            const jenis_kontribusi = button.getAttribute('data-type');

            document.getElementById('reportIdKontribusi').value = id_kontribusi;
            document.getElementById('reportJenisKontribusi').value = jenis_kontribusi;
            document.getElementById('reportAcaraId').value = acaraId;

            const reportModal = new bootstrap.Modal(document.getElementById('reportModal'));
            reportModal.show();
        });
    });

    document.querySelectorAll('.btn-primary').forEach(button => {
        button.addEventListener('click', function(event) {
            event.preventDefault(); 

            const form = this.closest('form');
            const id_kontribusi = form.querySelector('input[name="id_kontribusi"]').value;
            const jenis_kontribusi = form.querySelector('input[name="jenis_kontribusi"]').value;
            const acaraId = form.querySelector('input[name="acaraId"]').value;

            console.log('ID Kontribusi:', id_kontribusi);
            console.log('Jenis Kontribusi:', jenis_kontribusi);
            console.log('Acara ID:', acaraId);

            form.submit(); 
        });
    });
});

    </script>
  </body>
</html>