<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SIAPP</title>
        <link rel="icon" type="image/x-icon" href="/images/user/Siapp.ico" />
        <link href="https://cdn.lineicons.com/5.0/lineicons.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/form_acara.css">
    </head>
    <body>
        <%- include('partials/__nav_sidebar') %>
                <main class="content px-3 py-4">
                    <div class="container-fluid">
                        <div class="mb-3">
                            <a class="btn btn-secondary mb-3" href="/users/detail_acara/<%= acara.id_acara %>">
                                <i class="lni lni-arrow-left"></i> Kembali
                            </a>
                            <div class="container-fluid frm-acara">
                                <h4 class="mb-3">Edit Acara</h4>
                                <form class="needs-validation" novalidate="" method="POST" action="/users/detail_acara/update/<%= acara.id_acara %>">
                                    <div class="row g-3 frm_layout">
                                        <div class="col-sm-6">
                                            <label for="namaAcara" class="form-label">Nama Acara</label>
                                            <input type="text" class="form-control" id="namaAcara" name="nama_acara" placeholder="Masukkan Nama Acara" value="<%= acara.nama_acara %>" required>
                                        </div>
                                    
                                        <div class="col-sm-6">
                                            <label for="informasiKontak" class="form-label">Kontak Acara</label>
                                            <input type="tel" class="form-control" id="informasiKontak" name="informasi_kontak" placeholder="Contoh: +628123456789" value="<%= acara.informasi_kontak %>" required>
                                        </div>
                                    
                                        <div class="col-sm-6">
                                            <label for="waktuAcara" class="form-label">Waktu Mulai</label>
                                            <input type="datetime-local" class="form-control" id="waktuAcara" name="waktu_acara" value="<%= acara.waktu_acara %>" required>
                                        </div>
                                    
                                        <div class="col-sm-6">
                                            <label for="acaraSelesai" class="form-label">Waktu Selesai</label>
                                            <input type="datetime-local" class="form-control" id="acaraSelesai" name="acara_selesai" value="<%= acara.acara_selesai %>" required>
                                        </div>
                                    
                                        <div class="col-12">
                                            <label for="lokasiAcara" class="form-label">Lokasi</label>
                                            <input type="text" class="form-control" id="lokasiAcara" name="lokasi_acara" placeholder="Isi Dengan Link Google Map" value="<%= acara.lokasi_acara %>" required>
                                        </div>
                                    
                                        <div class="col-12">
                                            <label for="keterangan" class="form-label">Keterangan</label>
                                            <textarea class="form-control" id="keterangan" name="keterangan" placeholder="Isi keterangan acara" rows="4" required><%= acara.keterangan %></textarea>
                                        </div>
                                    
                                        <hr class="my-6 border-3 border-top border-info">
                                    
                                        <button class="w-100 btn btn-primary btn-lg" type="submit">Simpan Perubahan</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
        <script src="/js/script.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
