<!DOCTYPE html>
<html lang="en">
  <!-- HEADER -->
  <%- include('partials/__head.ejs') %>
  
  <body>

    <!-- NAVBAR -->
    <%- include('partials/__nav.ejs') %>

    <div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
      <div class="container">
        <div class="az-content-body pd-lg-l-40 d-flex flex-column">
          <div class="col-sm-8 col-md-6 mg-t-20 mg-md-t-0">
            <div class="az-content-label mg-b-5">Total User</div>
            <p class="mg-b-20">
              Grafik total user Januari-Desember menunjukkan pertumbuhan jumlah user tiap bulan, membantu analisis tren dan evaluasi strategi.</p>
            
            <!-- Elemen untuk menyimpan data labels dan data -->
            <div id="chartDataUser" data-labels="<%= JSON.stringify(labelsUser) %>" data-data="<%= JSON.stringify(dataUser) %>"></div>
            
            <!-- Wrapper untuk chart -->
            <div class="chartjs-wrapper-demo">
              <canvas id="chartArea2"></canvas> <!-- Elemen canvas untuk chart -->
            </div>
          </div><!-- col-sm-8 col-md-6 -->
          
          <div class="ht-40"></div>
          
          <!-- Footer -->
          <div class="az-footer mg-t-auto">
            <div class="container">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
                <p>&copy; 2024 Social Investment Application. All Rights Reserved.</p>
              </span>
            </div><!-- container -->
          </div><!-- az-footer -->
        </div><!-- az-content-body -->
      </div><!-- container -->
    </div><!-- az-content -->
    

    

    <!-- FOOTER -->
    <%- include('partials/__foot.ejs') %>
    
  </body>
</html>
